.footer {
  background: #ecefee;
  padding: 70px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer p {
  color: #666;
  font-size: 14px;
  margin-bottom: 4px;
}

.footer input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}
