* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f4f6f5;
  color: #111;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

:root {
  --primary: #36e2a9;
  --dark: #0b1a15;
  --dark2: #0f2a22;
}
